.start_layer {
  position:relative;
  border:1px dashed rgb(145, 19, 19);
  background-color: burlywood;
}

.home_layer {
  position: relative;
  border:1px dashed rgb(10, 133, 47);
}

.board_layer {
  position: absolute;
  border:1px dashed rgb(67, 22, 190);
}

.popper_layer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border:1px dashed rgb(10, 133, 47);
  z-index: 1;
}