.elipsoid_position {  
  position:absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
}

.elipsoid_board {  
  position:absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  border: 3px solid #98a1a4;
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 3px gray;
}